.container {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

.search {
    background: #00008b;
    color: #f0ffff;
    border: 1px solid #00005e;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.address {
    text-align: left;
    list-style: none;
    padding: 0;
}

.address__item {
    background: aquamarine;
    margin-bottom: 10px;
    padding: 10px;
}